* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
  background: gray;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

h2 {
  padding: 1em;
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2));
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 7em;
  background: rgba(0, 0, 0, 0.1);
}
.carousel {
  overflow: hidden;
  position: relative;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  flex: 0 0 100%;
}
.slide {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.slide img {
  max-width: 100%;
  max-height: 300px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

footer {
  text-align: center;
  padding: 30px 0px;
  color: white;
}
